@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik';
    src: url(fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Heebo';
    src: url(fonts/Heebo-VariableFont_wght.ttf);
}

@layer components {
    .green-pill-btn {
        @apply p-2 pl-3 pr-3 mx-auto rounded-3xl shadow shadow-indigo-800 hover:bg-green-600 hover:shadow-inner bg-green-900 text-white font-rubik h-min;
    }

    .disabled-btn {
        @apply p-2 pl-3 pr-3 mx-auto rounded-3xl shadow shadow-gray-800 bg-gray-600 text-white font-rubik h-min;
    }

    .gold-pill-btn {
        @apply p-2 pl-3 pr-3 rounded-3xl shadow-lg hover:bg-yellow-400 hover:shadow-inner bg-yellow-500 text-indigo-900 font-rubik h-min text-center;
    }

    .red-pill-btn {
        @apply p-2 pl-3 pr-3 rounded-3xl shadow-lg hover:bg-red-600 hover:shadow-inner bg-red-700 text-yellow-400 font-rubik h-min text-center;
    }

    .std-form {
        @apply mx-auto grid grid-flow-row gap-2 p-2 min-w-fit w-3/4;
    }

    .std-form-label {
        @apply p-2 pl-0 -my-2 text-xs;
    }

    .std-form-text-input {
        @apply p-2 mb-2 border border-transparent border-b-2 border-b-indigo-900 text-indigo-600 hover:border-green-900 focus:outline-green-600 focus:outline-2;
    }

    .std-form-number-input {
        @apply appearance-none text-center text-2xl font-bold w-3/4 mx-auto h-4 p-2 pt-8 pb-8 mb-2 border border-transparent border-b-2 border-b-indigo-900 text-indigo-600 hover:border-green-900 focus:outline-green-600 focus:outline-2;
    }

    .std-form-selector {
        @apply p-2 border border-b-indigo-900 text-indigo-600 hover:border-green-900 focus:outline-green-600 focus:outline-2;
    }

    .std-form-radio-div {
        @apply bg-gradient-to-tl from-indigo-800  to-violet-900 rounded-tr-xl rounded-bl-xl shadow-lg flex list-card-bg hover:shadow-2xl hover:from-green-500 hover:to-green-900/80 active:bg-green-600 justify-start content-center;
    }

    .std-form-radio-input {
        @apply appearance-none checked:bg-green-600 checked:shadow-inner;
    }
    
    .std-form-radio-label{
    @apply text-white peer-checked:bg-green-700 peer-checked:shadow-inner w-full p-2 rounded-tr-xl rounded-bl-xl;
    }
    

    .std-link {
        @apply underline underline-offset-4 decoration-dotted decoration-indigo-900  hover:text-indigo-900 hover:font-bold;
    }

    .list-card-bg {
        @apply hover:to-violet-900/80 bg-gradient-to-tl from-indigo-800  to-violet-900 rounded-tr-xl rounded-bl-xl shadow-lg;
    }

    .list-item-bg {
        @apply bg-gradient-to-tl from-indigo-800  to-violet-900 rounded-tr-xl rounded-bl-xl shadow-lg text-white w-full p-2 grid grid-rows-2 md:grid-cols-2 md:grid-rows-none justify-items-stretch;
    }
}

